Log_files
find_HII_bubbles
lib
._*
*.o
*.pyc
.deps
wiki
.sconsign.dblite
.DS_Store
tags
.tags
testing/*.txt
Session.vim
Project.vim
config.py
*.sublime-project
*.sublime.workspace
bin
testing/notebooks
plots
bu
data
testing
src/git.h
src/my_SConscript
.syntastic_config
.vimrc
.exrc
*.os
include
.sconf_temp
config.log
src/git.h
src/mlog
