.idea
justfile
src/.cache
.spack-env
.envrc
Log_files
src/3rd_party
find_HII_bubbles
lib/
._*
*.o
*.pyc
.deps
wiki
.sconsign.dblite
.DS_Store
tags
.tags
testing/*.txt
Session.vim
Project.vim
config.py
*.sublime-project
*.sublime.workspace
bin
testing/notebooks
plots
bu
data
testing
src/git.h
src/my_SConscript
.syntastic_config
.vimrc
.exrc
*.os
include/
share/
.sconf_temp
config.log
src/git.h
src/build*
src/local.cmake
src/.clangd/
src/compile_commands.json
src/.vscode
.vscode
Doxy*
./input/photometric_tables/sed_library.hdf5
